In [1]:
import os
import glob
import psycopg2
import pandas as pd
# from sql_queries import *

In [27]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=postgres password=123456")
cur = conn.cursor()
conn.autocommit = True

In [67]:
account_manager = ("""
CREATE TABLE IF NOT EXISTS dim.account_manager 
    (cr_id SERIAL PRIMARY KEY,
    customer_id int,
    account_manager int,
    efected_date date,
    expired_date date,
    effected_date_id int,
    expired_date_id int)
""")

customer = ("""
CREATE TABLE IF NOT EXISTS dim.customer 
    (customer_id SERIAL PRIMARY KEY,
    customer_name varchar,
    channel varchar,
    billing_address varchar,
    tax_code varchar,
    customer_country varchar,
    account_created_date date)
""")

sale_order = ("""
CREATE TABLE IF NOT EXISTS fact.sale_order 
    (sale_order_id SERIAL PRIMARY KEY,
    so_number varchar,
    order_date date,
    order_date_id int,
    expected_ship_date date,
    expected_ship_date_id int,
    expected_delivery_date date,
    expected_delivery_date_id int,
    customer_id int,
    ship_to_customer int,
    reference_po int,
    order_discount_amount int,
    order_status varchar)
""")

sale_order_line = ("""
CREATE TABLE IF NOT EXISTS fact.sale_order_line_item 
    (sale_order_line_item_id SERIAL PRIMARY KEY,
    sale_order_id int,
    line_item_number int,
    product_id int,
    quantity int,
    listed_price decimal,
    net_price decimal)
""")

product = ("""
CREATE TABLE IF NOT EXISTS dim.product 
    (product_id PRIMARY KEY,
    product_name varchar,
    sku varchar,
    product_line varchar)
""")
create_table_queries = [account_manager, customer, sale_order, sale_order_line, product]

In [68]:






product_insert = ("""
INSERT INTO dim.product (product_id,
    product_name,
    sku,
    product_line)
    VALUES (%s, %s, %s, %s)
""")

In [25]:
conn.commit()

In [7]:
cur.execute("CREATE SCHEMA dim")

In [8]:
cur.execute("CREATE SCHEMA fact")

In [69]:
for query in create_table_queries:
#     print(query)
    cur.execute(query)
    conn.commit()

In [87]:
customer_insert = ("""
INSERT INTO dim.customer (customer_name,
    channel,
    billing_address,
    tax_code,
    customer_country,
    account_created_date)
    VALUES (%s, %s, %s, %s, %s, %s)
""")
cur.execute(customer_insert, ["Dinh", "B2B", 'Nothing', 'No', "UK", '2019-07-01'])

In [88]:
account_manager_insert = ("""
INSERT INTO dim.account_manager (customer_id,
    account_manager,
    efected_date,
    expired_date,
    effected_date_id,
    expired_date_id)
    VALUES (%s, %s, %s, %s, %s, %s)
""")
cur.execute(account_manager_insert, [4, 1, '2021-07-01', '9999-12-30', 123, 456])

In [90]:
sale_order_insert = ("""
INSERT INTO fact.sale_order (so_number,
    order_date,
    order_date_id,
    expected_ship_date,
    expected_ship_date_id,
    expected_delivery_date,
    expected_delivery_date_id,
    customer_id,
    ship_to_customer,
    reference_po,
    order_discount_amount,
    order_status)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""")
cur.execute(sale_order_insert, [None, '2021-07-15', 123123, '2021-11-05', 1234, '2021-11-30', 12312, 4, 4, None, 20, 'D'])

In [92]:
sale_order_line_insert = ("""
INSERT INTO fact.sale_order_line_item (sale_order_id,
    line_item_number,
    product_id,
    quantity,
    listed_price,
    net_price)
    VALUES (%s, %s, %s, %s, %s, %s)
""")
cur.execute(sale_order_line_insert, [12, 2, 567, 2, 550.05, 540.60])

In [76]:
cur.execute(product_insert, [678, 'Test7', '678', 'PL2'])